#map {
  height: 600px;
  width: 800px;
}

span {
  visibility: hidden;
}

.brand{
  font-family: 'Poiret One', cursive;
  font-weight:bold;
  color:#696969;
  text-shadow: 0 5px 10px #808080;
  font-size:60px;
}

p{
  font-size:20px;
  font-family: 'Raleway', sans-serif;
  color:white;
}

h2{
  font-family: 'Poiret One', cursive;
  color:white;
  text-shadow: 0 5px 10px #808080;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color:white;
  text-shadow: 0 5px 10px #808080;
}

.brand{
  font-family: 'Poiret One', cursive;
  font-weight:bold;
  color:#696969;
  text-shadow: 0 5px 10px #808080;
  font-size:60px;
}

h3{
  font-family: 'Poiret One', cursive;
  font-weight:bold;
  color:white;
}

a{
  font-weight:bold;
}

body{
  background-color:#74AFAD;
}

button{
  color:white;
  background-color:#ff7900;
  border-radius:5px;
  font-size:15px;
}

.fliter {
  background-color:#C0C0C0;
  border-radius:5px;
  color:black;
}

.fliterbutton{
  color:black;
  background-color:#ff7900;
  border-radius:5px;
}

.logout{
  margin-top:20px;
  font-size:14px;
}

.list{
  margin-top:20px;
  font-size:18px;
}

#pre_page{
  font-size:18px;
}

hr{
  width:800px;
}
